<head>
<title>About Us</title>
<link rel="stylesheet" type="text/css" href="../../assets/stylesheets/all.scss">
<link href='http://fonts.googleapis.com/css?family=Josefin+Sans' rel='stylesheet' type='text/css'>
</head>
<body>
	<br> <br> <br> <br>

<h2 id="about-us-title">About Us</h2>
<div id="about-group" class="container">
  <p id="dsc-txt">The myvote development team was formed around the beginning of Intersession 2015. It consists of four BS MIS students from section A of Mr. Noel Victorino's class. Armed with the skills we've garnered throughout the semester and help from Mr. Noel Victorino, Nelson Gomez, Judy Sy, and Miguel Saavedra, we were able to develop this voting application.</p>
</div>

<div id="about-members" name="members">
<h2 id="the-team">The Team</h2>
<br><br><br>
<ul class="media-list">
  <div class="media-body">
  <img src="robert.png" id="pic">
  <p id="member-name">Robert Cuartero</p>
  <p id="member-description">some stuff about robert</p>
  <br>
  <img src="pau.png" id="pic">
  <p id="member-name">Pau Era</p>
  <p id="member-description">some stuff about pau</p>
  <br>
  <img src="harvey.png" id="pic">
  <p id="member-name">Harvey Li</p>
  <p id="member-description">some stuff about harvey</p>
  <br>
  <img src="alanis.png" id="pic">
  <p id="member-name">Alanis Llena</p>
  <p id="member-description">some stuff about alanis</p>
  <br>
  </div>
  
  
</ul>
</div>
</body>

</body>