<% @positions.each do |p| %>
    <h2><%= p.name %></h2>
    <table class = "table">
      <tr>
        <td>Last Name</td>
        <td>First Name</td>
        <td>Votes</td>
      </tr>
    <% p.candidates.each do |c| %>
       <tr>
        <td><%= c.last_name %></td>
        <td><%= c.first_name %></td>
        <td><%= c.votes.size %></td>
       </tr>
    <% end %>
    </table>
<% end %>