<% if !@user.botos.empty? %>
<table>
<thead>You voted for:</thead>
<% @user.botos.each do |f| %>
<tr>
<td><%= f.candidate.first_name %></td>
<td><%= f.candidate.last_name %></td>
</tr>
<% end %>
<% else %>
<h4>You have not voted any candidates yet</h4>
<% end %>