<h1>Candidates#index</h1>
<p> in app/views/candidates/index.html.erb</p>

<h1>LIST OF CANDIDATES</h1>
<%= link_to "Login", new_session_path(:user) %>
<%= link_to "Add Candidate", new_candidate_path %>
<%= link_to "About", about_path %>
<%= link_to "Register", new_registration_path(:user)%>
