<head>
<title>ABOUT US</title>
<link rel="stylesheet" type="text/css" href="../assets/stylsheets/aboutus.css">
</head>
<body>
<div id="about-group" background="../assets/images/tempbg.jpg">
</div>
<div id="about-members">
</div>
</body>