<h1 class = "position">Add Position</h1>
<%= simple_form_for @position do |f| %>
	<%= f.input :name, as: :select, collection:  ["President", "Vice President", "Senator", "Congressman"], label: "Position" %> 
	<%= f.button :submit, "Add Position" %>
<% end %>
